@{
    ViewBag.Title = "About";
}

<body>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                iLEARN EDUCATION  GHANA
            </span>
            <img style="width:150px" src="~/Content/images/ilearn logo.jpeg" />
        </div>
    </div>

    <section class="section section-dark">
        <h2>ABOUT US</h2>
        <p>
           
            This web application will allow prospective students, especially students in Ghana, to be able to study in the comfort of their homes with less supervision. This software will consist of the four core subjects based on the curriculum of the Ghana Education Service and will concentrate on the fundamental core subjects, which includes Mathematics, English language, ICT and Science.
            Students will be able to login with their login details, set or reset password and have the opportunity to look at a video tutorial of their subscribed courses. They can practice the questions under them and take a progressive test which will enable them to move onto the next level.

        </p>
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border trans">
                STUDY FROM HOME
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>OUR CHARITY</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
        </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border trans">
               become partner
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Our Partners</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
        </p>
    </section>
</body>


