@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{

<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Section">&nbsp;&nbsp;Section</a></li>
        <li><a href="/Admin/Part">&nbsp;&nbsp;Part</a></li>
        <li><a href="/Admin/ModuleType">&nbsp;&nbsp;Module Type</a></li>
        <li><a href="/Admin/CourseType">&nbsp;&nbsp;Course Type</a></li>
        <li><a href="/Admin/CourseLinkText">    &nbsp;&nbsp;Course Link Text</a></li>
        <li class="divider" />
        <li class="dropdown-header">Major Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Module">&nbsp;&nbsp;Modules</a></li>
        <li><a href="/Admin/Course">&nbsp;&nbsp;Course</a></li>
        <li><a href="/Admin/Subscription">    &nbsp;&nbsp;Subscription</a></li>
        <li class="divider" />
        <li class="dropdown-header">Connector Entities</li>
        <li class="divider" />
        <li><a href="/Admin/CourseModule">&nbsp;&nbsp;Course Module</a></li>
        <li><a href="/Admin/CourseSubscription">    &nbsp;&nbsp;Course Subscription</a></li>
        <li class="divider" />
        <li class="dropdown-header">Students & Subscriptions</li>
        <li class="divider" />
        <li><a href="/Account">    &nbsp;&nbsp;Students & Subscriptions</a></li>
    </ul>
</li>
}
